target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore
gulimall-member/src/main/.DS_Store
gulimall-member/src/main/resources/.DS_Store
gulimall-product/src/main/.DS_Store
gulimall-product/src/main/java/com/atguigu/.DS_Store
gulimall-product/src/main/java/com/atguigu/gulimall/.DS_Store
gulimall-product/src/main/java/com/atguigu/gulimall/product/.DS_Store
gulimall-ware/src/main/.DS_Store
gulimall-ware/src/main/resources/.DS_Store
